{% extends 'base.html.twig' %}



{% block add_categorie %}
<center>
        {% for flash_message in app.session.flashbag.get('success') %}
            {{ flash_message }}
        {% endfor %}


        <h1>Ajout de catégorie </h1>

        {{ form_start(form, { 'attr': {'class': 'form-horizontalndar','novalidate': 'novalidate'} }) }}
        <table>
           <tr>  
                   <td> {{ form_label(form.titre) }} </td>
                   <td> {{ form_widget(form.titre) }} </td>
                   <td>  {{ form_errors(form.titre) }} </td>
           </tr>  
        </table>
        <button type="reset" class="btn btn-default">reset</button>
        <button type="submit" class="btn btn-info pull-right">submit</button>


        {{ form_rest(form) }}

        {{ form_end(form) }}

</center>
{% endblock %}