{% extends 'base.html.twig' %}
{% block show_categorie %}




<center>
  <h1>Liste  des catégories </h1>
  
  {% for flash_message in app.session.flashbag.get('success') %}
            {{ flash_message }}
        {% endfor %}
        
    <table>
          {% if  categories|length < 1  %}    pas de categorie trouvé    {%endif%}
          
          
            {% for categorie  in categories %}
                    <tr>     
                        <td> Titre de catégorie: </td>
                        <td> {{  categorie.titre|capitalize}}  </td>
                    </tr>
 
                     <tr>     
                        <td> Liste des films par catégorie: </td>
                        <td><a href="{{ path('show_film_by_category',{'id':categorie.id}) }}"> Liste </a> </td>
                    </tr>


           <tr>     
                
                <td>  <a href="{{ path('edit_category',{'id':categorie.id}) }}"> modification de la catégorie </a>   </td>
                
                
                <td>  <a href="{{ path('delete_category',{'id':categorie.id}) }}"> suppression de la catégorie</a>   </td>
                
               
            </tr>



            {% endfor %}

    </table> 
    
    </center>

    {% endblock %}