<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


<center>
<h1>Menu</h1>
</center> 


<ul>
          <li>
             <a href="{{ path('add_film') }}"> Création des  nouveaux films </a> 
           </li>


           <li>
             <a href="{{ path('add_category') }}">Création des   catégories </a> 
           </li>


           <li>
             <a href="{{ path('show_category') }}"> Liste des catégories </a> 
           </li>

           <li>
             <a href="{{ path('show_film') }}"> Liste des films </a> 
           </li>

          <li>
             <a href="{{ path('recherche_film') }}"> Recherche des films </a> 
           </li>


             {{ render(controller('AppBundle:Film:counter')) }}

             
</ul>


         {% block add_categorie %}{% endblock %}
          {% block edit_categorie %}{% endblock %}
         {% block show_categorie %}{% endblock %}
        {% block details_categorie %}{% endblock %}





         {% block add_film %}{% endblock %}
          {% block edit_film %}{% endblock %}
         {% block show_film %}{% endblock %}
        {% block details_film %}{% endblock %}




    </body>
</html>
