{% extends 'base.html.twig' %}

{% block add_film %}
<center>
    {% for flash_message in app.session.flashbag.get('success') %}
        {{ flash_message }}
    {% endfor %}


    <h1>Ajout d'un film </h1>

    {{ form_start(form, { 'attr': {'class': 'form-horizontalndar','novalidate': 'novalidate'} }) }}
    <table>

        <tr>    
            <td>{{ form_label(form.titre) }} </td>
            <td>    {{ form_widget(form.titre) }} </td>
            <td>   {{ form_errors(form.titre) }} </td>
        </tr>

        <tr> 
            <td>    {{ form_label(form.description) }} </td>
            <td>  {{ form_widget(form.description) }} </td>
            <td>  {{ form_errors(form.description) }} </td>
        </tr>
        
          <tr> 
            <td>    {{ form_label(form.file) }} </td>
            <td>  {{ form_widget(form.file) }} </td>
            <td>  {{ form_errors(form.file) }} </td>
        </tr>
        
        
        <tr> 
            <td> {{ form_label(form.category) }} </td>
            <td>   {{ form_widget(form.category) }} </td>
            <td>   {{ form_errors(form.category) }} </td>
        </tr>

    </table>

    <button type="reset" class="btn btn-default">reset</button>
    <button type="submit" class="btn btn-info pull-right">submit</button>


    {{ form_rest(form) }}

    {{ form_end(form) }}

</center>

{% endblock %}