{% extends 'base.html.twig' %}


{% block show_film %}
<center>
    <h1>Liste  des films </h1>
        {% for flash_message in app.session.flashbag.get('success') %}
            {{ flash_message }}
        {% endfor %}


<form method="GET" {{ form_enctype(form) }}>
 
         
         
            <!-- Les erreurs générales du formulaire. -->
            {{ form_errors(form) }}
 
            <div><h3>Rechercher un Film</h3>
                <!-- Génération du label. -->
                               
 
                <!-- Affichage des erreurs pour ce champ précis. -->
                {{ form_errors(form.titre) }}
 
                <!-- Génération de l'input. -->
                {{ form_label(form.titre) }} {{ form_widget(form.titre) }}


                               <!-- Affichage des erreurs pour ce champ précis. -->
                {{ form_errors(form.category) }}
 
                <!-- Génération de l'input. -->
                {{ form_label(form.category) }}   {{ form_widget(form.category) }}




                               <!-- Affichage des erreurs pour ce champ précis. -->
                {{ form_errors(form.date) }}
 
                <!-- Génération de l'input. -->
                  {{ form_label(form.date) }} {{ form_widget(form.date) }}



            </div>
 
             
            <!-- Génération des champs pas encore écrits.
                 Dans cet exemple, ça serait « date », « auteur » et « tags »,
                 mais aussi le champ CSRF (géré automatiquement par Symfony !)
                 et tous les champs cachés (type « hidden »). -->
            {{ form_rest(form) }}
     
        <input class="btn" type="submit" value="Rechercher"/>
    </form>




    <table>
        {% if  films|length < 1  %}    pas de film trouvé    {%endif%}
               

        {% for film   in films %}
            <tr>     
                <td> Titre du film: </td>
                <td> {{  film.titre|capitalize }}  </td>
            </tr>


            <tr>     
                <td> Description du film: </td>
                <td> {{  film.description|capitalize }}  </td>
            </tr>


            <tr>     
                <td> Catégorie du film: </td>
                <td> {{  film.category.titre |capitalize}}  </td>
            </tr>

           <tr>     
                
                <td>  <a href="{{ path('update_film',{'id':film.id}) }}"> modification du film </a>   </td>
            </tr>

            <tr>     
                
                <td>  <a href="{{ path('delete_film',{'id':film.id}) }}"> suppression du film </a>   </td>
            </tr>

             <tr>     
                
                <td>  <a href="{{ path('show_film_details',{'id':film.id}) }}"> Détail du film </a>   </td>
            </tr>


        {% endfor %}

    </table> 

</center>


{% endblock %}