{% extends 'base.html.twig' %}


{% block show_film %}
<center>
    <h1>Liste  des films </h1>
        {% for flash_message in app.session.flashbag.get('success') %}
            {{ flash_message }}
        {% endfor %}

    <table>
        {% if  films|length < 1  %}    pas de film trouvé    {%endif%}
               

        {% for film   in films %}
            <tr>     
                <td> Titre du film: </td>
                <td> {{  film.titre|capitalize }}  </td>
            </tr>


            <tr>     
                <td> Description du film: </td>
                <td> {{  film.description|capitalize }}  </td>
            </tr>


            <tr>     
                <td> Catégorie du film: </td>
                <td> {{  film.category.titre |capitalize}}  </td>
            </tr>

           <tr>     
                
                <td>  <a href="{{ path('update_film',{'id':film.id}) }}"> modification du film </a>   </td>
                
                
                <td>  <a href="{{ path('delete_film',{'id':film.id}) }}"> suppression du film </a>   </td>
                
                
                <td>  <a href="{{ path('show_film_details',{'id':film.id}) }}"> Détail du film </a>   </td>
            </tr>


        {% endfor %}

    </table> 

</center>


{% endblock %}