{% extends 'base.html.twig' %}


{% block show_film %}
<center>
    <h1>Liste  des films </h1>


     {# total items count #}
        <div class="count">
           Nombre total de film {{ pagination.getTotalItemCount }}
        </div>



        <table>
        <tr>
        {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Titre', 'a.titre') }}
            </th>
            <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>
        </tr>

        
         {# table body #}
        {% for article in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ article.id }}</td>
            <td>{{ article.titre }}</td>
            <td>{{ article.dateAjout | date('Y-m-d') }} </td> 
        </tr>
        {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>



</center>


{% endblock %}