{% extends 'base.html.twig' %}

{% block details_film %}
<center>

<h1>
Titre du film:</h1>
** {{film.titre|capitalize}} **

</br>

<h1>Affiche du film:</h1>
 
 <img src="{{ asset('upload/' ~ film.path)}}"  class="" alt=""  style="width:200px;height:200px;"/>


</br>
<h1>
Description du film:</h1>
{{film.description|capitalize}}

</br>


<h1>
Catégorie du film:</h1>
{{film.category.titre|capitalize}}
 

</center>


{% endblock %}